<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Job Matching{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/app/plugins/bootstrap/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/turbo.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/material-design-iconic-font.min.css') }}" rel="stylesheet" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/img/job.jpg') }}" />
    </head>
    <body>
        <div class="wrapper">
            <div class="main-panel">

                <div class="content">
                    {% block body %}{% endblock body %}
                </div>

            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('bundles/app/plugins/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/app/js/material.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
